.colEven {
  width: 200px;
}

.colOdd {
  width: 120px;
}

.common {
  padding: 10px;
}

.dataCol {
  padding: 10px 5px;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evenRow {
  background-color: #f1eded;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 25px;
  background-color: #0e0e0e;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.header {
  background-color: #39b995;
  color: #fff;
  font-family: emoji;
}